@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

:root {
    --cor1:#f3f3f3 ;
    --cor2:#ffffff ;
    --cor3:#ffdc21;
    --cor10:#002c53;
    --cor4:#0f0f0f ;
    --cor5:#222222 ;
    --cor6:#0f0f0f;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Serif", serif;
    scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: #fff;
}
body{
  background-color: var(--cor1);
}

/*                     NAVBAR                          */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--cor2);
    padding: 20px;
    box-shadow: 2px 2px 2px #0f0f0f49;
}
.navbar #logo h1{
    color: var(--cor10);
    font-size: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.navbar ul li{
   display: inline-block;
   margin-left: 15px;
}
.navbar ul li a{
   text-transform: uppercase;
   color: var(--cor6);
   font-weight: 600;
}
.navbar ul li a:hover{
   color: var(--cor3);
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  
}

.overlay-content {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 26px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
#hamburguer{
  cursor: pointer;
  display: none;
  color: var(--cor6);
  padding: 10px;
}

/*                    SLIDE INICIAL                          */

.capa{
  width: 99%;
  height: 750px;
  background-color:var(--cor4);
  margin: 0 auto;
  border-bottom-left-radius: 10PX;
  border-bottom-right-radius: 10PX;
}
.capa img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.capa .texto_capa{
  position: absolute;
  top: 30%;
  left: 0%;
  width: 50%;
}
.texto_capa .p1{
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--cor1);
  text-transform: uppercase;
  margin-left: 20px;
  letter-spacing: 2px;
}

.texto_capa .p2{
  font-size: 1rem;
  font-weight: 400;
  color: var(--cor1);
  margin-left: 20px;
  letter-spacing: 2px;
}
button {
  border: none;
  background: transparent;
  background-color: #002c53;
  padding: 15px 25px;
  font-size: 1.2rem;
  color: #fff;
  margin: 20px;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);  
  background-color: rgba(0,0,0,0.4);  
  padding-top: 60px;
}
.conteudo-modal {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
  height: auto;
}
.conteudo-modal  form{
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}
.conteudo-modal  form h3{
    font-size: 2rem;
    color: #002c53;
}
.conteudo-modal  form p{
    font-size: 0.9rem;
    color: gray;
}
.conteudo-modal  form .input_area{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.conteudo-modal  form .input_area input{
  padding: 10px;
  width: 350px;
  border: none;
  background: #eee;
  border-radius: 12px;
  height: 50px;
  font-size: 15px;
  margin-top: 15px;
}
.conteudo-modal  form textarea{
  width: 86%;
  margin: 0 auto;
  height: 150px;
  padding: 20px;
  border-radius: 12px;
  border: none;
  background: #eee;
}
.conteudo-modal  form .btn_action{
  width: 80%;
  padding: 20px;
  margin-top: 20px;
}
.conteudo-modal  form .btn_action input{
  border: none;
  color: #fff;
  padding: 10px 25px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 15px;
}
.conteudo-modal  form .btn_action input[type="reset"]{
  background-color: orangered;
}
.conteudo-modal  form .btn_action input[type="submit"]{
  background-color: #002c53;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.animacao {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}


@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}




    
h2{
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--cor4);
  margin-bottom: 15px;
  text-align: center;
  
}

/*                    NOSSOS SERVIÇOS                        */


.servicos_container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.servicos_container .titulos_servicos{
  width: 100%;
  padding: 20px;
  text-align: center;
}
.titulos_servicos h2{
  letter-spacing: 2px;
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--cor4);
  margin-bottom: 15px;
}
.titulos_servicos p{
  padding: 10px;
  font-size: 0.9rem;
  color: var(--cor5);
}
.servicos_content{
  width: 95%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.servicos_content .servicos_card{
  width: 350px;
  padding: 50px 10px;
  background-color: var(--cor2);
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: ease-out .5s;
}
.servicos_content .diferente{
  border-top: 2px solid var(--cor10);
}
.servicos_card i{
  font-size: 3rem;
  color: var(--cor10);
}
.servicos_card .p1{
  padding: 10px 0;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px 0;
  color: var(--cor5);
}
.servicos_card .p2{
  line-height: 150%;
  color: var(--cor5);
}
.servicos_card:hover{
   transform: translateY(-18px);
   box-shadow: 2px 2px 10px #504e4e;
}


/*                    CONTACTAR                        */

.contactar{
    width: 100%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/pexels-lilartsy-3278757.jpg');
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
  }
  .contactar h2{
    padding: 20px;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: var(--cor2);
  }
  .contactar p{
    color: var(--cor2);
    padding: 10px;
    font-weight: 600;
    margin-bottom: 20px;
   }

/*                    DEPOIMENTOS                      */
  
.depoimentos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  flex-direction: column;
  z-index: -1;
}

.wrapper {
  width: 70%;
  position: relative;
  padding: 20px 0;
}

.wrapper i {
  height: 50px;
  width: 50px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 1.25rem;
}

.wrapper i:first-child {
  left: -8px;
}

.wrapper i:last-child {
  right: -55px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-x: auto;
  scroll-snap-type: mandatory;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel :where(.card, .img) {
  display: flex;
  flex-direction: column;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}

.carousel .card {
  scroll-snap-align: start;
  list-style: none;
  background-color: #fff;
  border-radius: 8px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.card .depoimento_img{
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.card .depoimento_img img{
width: 50px;
height: 50px;
border-radius: 50%;
border: 2px solid var(--cor3);
object-fit: cover;
}
.card .depoimento_img .nome{
color: var(--cor10);
margin-left: 15px;
font-weight: 600;
}

  
/*                         RODAPÉ                            */


footer{
  width: 100%;
  background-color: var(--cor10);
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  height: auto;
}
footer .redes_sociais{
  padding: 15px 7px;
  display: flex;
  justify-content: space-between;
}
.redes_sociais .redes{
  width: 20%;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
}
.redes_sociais .rd2{
  justify-content: center;
}
.redes_sociais .redes a{
  font-size: 0.9rem;
  color: var(--cor1);
}
.redes #ceta_topo, .redes .rd_i{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
footer .direitos{
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--cor10);
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #fff;
  color: var(--cor2);
  
}
footer .info_footer{
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
.info_footer_card{
  padding: 20px;
}
.footer_card_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}
.footer_card_item span{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 15px;
  border:  1px solid var(--cor2);
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.footer_card_item i{
  color: var(--cor2);
  font-size: 1.2rem;

}
.footer_card_item .info_footer_local{
  display: flex;
  flex-direction: column;
  color: var(--cor2);
}
.info_footer_local .p1{
  font-size: 1.4rem;
  font-weight: 600;
}
.info_footer_local .p2{
  font-size: 0.9rem;
  font-weight: 600;
}
.info_footer_card .titulo{
  color: var(--cor2);
  font-size: 1.2rem;
}
.info_footer_card .links{
  padding: 10px;
}
.info_footer_card .links a{
  text-decoration: none;
  color: var(--cor2);
}

/*                    CAPA-CHILD ALL                    */

  
.capa_child{
  width: 100%;
  height: 30vh;
  background-color:var(--cor4);
}
.capa_child img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}
.capa_child .texto_capa{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 50%;
  display: flex;
  justify-content: center;
}
.capa_child .texto_capa .p1{
  font-size: 2rem;
  font-weight: 600;
  color: var(--cor1);
  text-transform: uppercase;
  margin-left: 20px;
  letter-spacing: 2px;
}
.texto_capa .p2{
  font-size: 1rem;
  font-weight: 400;
  color: var(--cor1);
  margin-left: 20px;
  letter-spacing: 2px;
}

/*                    SERVICES-PAGE                     */

.services_all{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50PX;
}
.services_all .services_card{
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}
.services_card .services_img{
  width: 30%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.services_img img{
  width: 90%;
  height: 90%;
  object-fit: cover;
}
.services_content{
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.services_content .servico{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.services_content .descricao{
  font-weight: 200;
  line-height: 150%;
}

/*                              ABOUT_US PAGE                    */


.sobre_nos{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 100px 0;
}
.sobre_nos .sobre_img{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobre_img img{
  width: 80%;
  height: 400px;
  object-fit: cover;
}
.sobre_nos .sobre_text{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sobre_text .p1{
  padding: 10px 0;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 10px 0;
  color: var(--cor10);
}
.sobre_text .p2{
  font-size: 0.9rem;
  line-height: 200%;
  text-indent: 25px;
}


