{% extends 'base.html' %}
{%  block conteudo %}
<style>
    .local{
        width: 100%;
        height: 500px;
    }
</style>
   <!--                   MENU MOBILE                    -->
   <div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="FecharNav()">&times;</a>
    <div class="overlay-content">
        <a href="/home">Home</a>
        <a href="/sobre">Quem somos</a>
        <a href="servicos">Serviços</a>
        <a href="">Onde estamos</a>

    </div>
</div>
  <div class="capa_child"></div>
        <img src="img/pexels-tirachard-kumtanom-112571-733856.jpg" alt="">
        <div class="texto_capa">
            <p class="p1">Quem somos?</p>
        </div>
    </div>
<h2>Onde nos encontrar?</h2>
<div class="contact">
    <div class="card-contact">
        <i class="fas fa-map-marker-alt location-icon">
        </i>
        <p>Kilamba Kiaxi, Rua vaidade casa nº30</p>
    </div>
    <div class="card-contact">
        <i class="fa-solid fa-phone"></i>
        <p>948 960 187</p>
        <p>922 448 434</p>
        <p>949 278 861</p>

    </div>
    <div class="card-contact">
        <i class="fa-solid fa-envelope"></i>  
        <p>chilivacontasgeral@gmail.com</p>
    </div>
    <div class="card-contact">
        <p id="p1">Redes sociais</p>
    <div class="teste">
            <a href="https://www.instagram.com/joseafonsomastermindcontrol/" class="rd_i"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100012203371007" class="rd_i"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="rd_i"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.linkedin.com/in/madalena-ntondo-002bb1303/" class="rd_i"><i class="fab fa-linkedin-in"></i></a>
        </div>
    </div>
</div>
<div class="formullll">
    <div class="imagem">
          <img src="img/sobre1.jpg" alt="">
    </div>
    <div class="formulario_sol">
        <form action="" method="post">
            <p>O quê o senhor deseja ?</p>
            <div class="campus">
                <input type="text" placeholder="Nome">
                <input type="text" placeholder="Sobrenome ">
            </div>
            <input type="text" name="" id="" placeholder="Telemóvel">
            <input type="email" name="" id="" placeholder="Email">
            <textarea name="" id="" placeholder="Assunto"></textarea>
        </form>
    </div>
</div>

<button><a href="index.html">Inicio</a></button>    {%
        endblock %}
