{% extends 'base.html' %}
{% block conteudo %}

<main>
    <!--                   MENU MOBILE                    -->
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="FecharNav()">&times;</a>
        <div class="overlay-content">
            <a href="/home">Inicio</a>
            <a href="/sobre">Quem somos</a>
            <a href="">Serviços</a>
            <a href="/localizacao">Onde estamos</a>

        </div>
    </div>
    <div class="capa_child">
        <img src="{{url_for ('static', filename="img/pexels-tirachard-kumtanom-112571-733856.jpg")}}" alt="">
        <div class="texto_capa">
            <p class="p1">Nossos serviços</p>
        </div>
    </div>

    <div class="services_all">
        <h2>Saiba mais sobre nossos serviços</h2>
        <!-- 
            {% for chave, valor in servicos.items() %}
            <p>{{ chave }}</p>
            <p>Valores:</p>
            
                {% for item in valor %}
                    {{ item }}
                {% endfor %}
            
        {% endfor %} -->
        {% for chave, valor in servicos.items() %}
        <div class="services_card">
            <div class="services_img">
                <img src="{{url_for ('static', filename="img/pexels-lilartsy-3278757.jpg")}}" alt="">
            </div>
            <div class="services_content">
                <p class="servico">{{ chave }}</p>
                {% for item in valor %}
                <p class="descricao">{{ item }}</p>   
                {% endfor %}
            </div>
        </div>
        {% endfor %}
</main>



{% endblock %}